*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/aw_chromium/src/main/jniLibs/arm64-v8a/libstandalonelibwebviewchromium.so
/aw_chromium/src/main/jniLibs/armeabi-v7a/libstandalonelibwebviewchromium.so
/aw_chromium/src/main/jniLibs/x86/libstandalonelibwebviewchromium.so
/aw_chromium/src/main/jniLibs/x86_64/libstandalonelibwebviewchromium.so
/aw_chromium/src/main/jniLibs/arm64-v8a/libtest_trace_processor.so
/aw_chromium/src/main/jniLibs/armeabi-v7a/libtest_trace_processor.so
/aw_chromium/src/main/jniLibs/x86/libtest_trace_processor.so
/aw_chromium/src/main/jniLibs/x86_64/libtest_trace_processor.so
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
